* {
    margin: 0;
    padding: 0;
}

body {
    background: rgba(0, 0, 0, 0.7) url('food.jpg') center center fixed;
    background-size: cover;
    background-blend-mode: darken;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.container h1 {
    color: #f1ece4;
    margin-bottom: 20px;
}

.navbar ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    padding: 0;
}

.navbar ul li {
    margin: 10px;
}

.navbar ul li a {
    text-decoration: none;
    color: #fff;
    padding: 10px;
    transition: all 0.3s;
}

.navbar ul li a:hover {
    background-color: #f1ece4;
    color: black;
}

.content {
    text-align: center;
    color: #f1ece4;
    margin: 20px;
}

.content h1 {
    font-size: 2.5em;
}

.content h3 {
    font-size: 1.5em;
}

.pic1-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
}

.pic1, .pic2 {
    text-align: center;
    margin: 20px;
}

.pic1 img, .pic2 img {
    max-width: 100%;
    height: auto;
    border-radius: 20px;
}

footer {
    background-color: violet;
    padding: 20px 0;
    font-size: 14px;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0;
}

.footer-content h3 {
    color: #fff;
}

.footer-content p, .footer-content ul {
    color: #fff;
    text-align: center;
}

.social-icons {
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.social-icons li {
    margin: 0 10px;
}

.bottom-bar {
    background: violet;
    text-align: center;
    padding: 10px 0;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .navbar ul {
        flex-direction: column;
        align-items: center;
    }

    .content h1 {
        font-size: 2em;
    }

    .content h3 {
        font-size: 1.2em;
    }

    .pic1-div {
        flex-direction: column;
    }
    
    .footer-content {
        width: 100%;
    }

    .footer-content ul {
        padding: 0;
    }
}
